newsj-util/src/test/resources/net/longfalcon/newsj/mock/news/jaxb/news-data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="news" type="newsType">
    <xs:annotation>
      <xs:documentation>~ Copyright (c) 2016. Sten Martinez
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, write to the Free Software Foundation, Inc.,
  ~ 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="groupType">
    <xs:sequence>
      <xs:element type="messageType" name="message" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>
  <xs:complexType name="messageType">
    <xs:sequence>
      <xs:element type="xs:string" name="id" minOccurs="0"/>
      <xs:element type="xs:string" name="date" minOccurs="0"/>
        <xs:element type="xs:string" name="from" minOccurs="0"/>
      <xs:element type="xs:string" name="subject"/>
      <xs:element type="xs:string" name="content" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:long" name="number" use="optional"/>
  </xs:complexType>
  <xs:complexType name="newsType">
    <xs:sequence>
      <xs:element type="groupType" name="group" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>